body {
  font-family: 'Open Sans', sans-serif;
    background: #AD133A;
  
  }
  
  #container {
    height: 550px;
    width: 360px;
    margin: 20px auto;
    background: #f7f7f7;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
  }
  
  h1 {
   background: #e9cccc;
    color: #AD133A;
    margin: 0;
    padding: 10px 100px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: normal;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  
  p {
    padding-left: 20px;
  }
  
  form input[type="text"] {
    width: 90px;
  }
  
  input {
    padding-left: 20px;
  }
  
  #bill {
    font-size: 14px;
    color: red;
    background-color: #f7f7f7;
    width: 60%;
    padding: 5px 5px 8px 8px;
  }
  
  #bill:focus {
    background: #fff;
    border: 1px solid #AD133A;
    outline: none;
  }
  
  #people {
    width: 60%;
    padding: 5px 5px 8px 8px;
    margin-left: 20px;
    color: red;
    background-color: #f7f7f7;
    font-size: 14px;
  }

  #people:focus {
    background: #fff;
    border: 1px solid #AD133A;
    outline: none;
  }
  
  .dollarSign {
    display: inline;
  }
  
#service {
    padding: 13px 13px 20px 20px;
    margin-left: 20px;
    font-size: 25px;
    border: 1px solid #AD133A;
  }
  
  button {
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    margin: 30px auto;
    background: #AD133A;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    font-size: 17px;
    color: white;
  }
  
  button:hover {
    background: #580502;
    
  }
  
  button:active {
    position: relative;
    top: 1px;
  }
  
  #totalTip {
    font-size: 30px;
    margin-top: 5px;
    text-align: center;
  }
  
  #totalTip:before {
    content: "Tip amount";
    font-size: 20px;
    display: block;
    text-transform: uppercase;
  }
  
  #totalTip sup {
    font-size: 20px;
    top: -18px;
  }
  
  #totalTip small {
    font-size: 20px;
    display: block;
  }