body {
  font-family: 'Open Sans', sans-serif;
  background: #B5D0EB;
}

#container {
  height: 500px;
  width: 360px;
  margin: 20px auto;
  background: #F7F3F0;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
}

h1 {
  background: #484E4E;
  color: white;
  margin: 0;
  padding: 10px 100px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: normal;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

p {
  padding-left: 20px;
  font-weight: bold;
  color: 484E4E;
}

form input[type="text"] {
  width: 90px;
}

input {
  padding-left: 20px;
}

#bill {
  font-size: 14px;
  background-color: #f7f7f7;
  width: 60%;
  padding: 5px 5px 8px 8px;
}


#people {
  width: 60%;
  padding: 5px 5px 8px 8px;
  margin-left: 20px;
  background-color: #f7f7f7;
  font-size: 14px;
}


#service {
  padding: 13px 13px 20px 20px;
  margin-left: 20px;
  font-size: 18px;
  border-radius: 6px;
}

.button {
  text-transform: uppercase;
    font-weight: bold;
    display: block;
    margin: 15px auto;
    background: #484E4E;
    border-radius: 6px;
    font-size: 15px;
    color: white;
}

.button:hover {
  background: #037272;
}

.button:active {
  position: relative;
  top: 1px;
}
.button-big {
  width: 180px;
  height: 45px;

}
.button-small {
  margin-top: 10px;
  width: 180px;
  height: 30px;
  font-size: 12px;
}
.button-popup {
  width: 180px;
  height: 30px;
  font-size: 12px;
  background: #484E4E;
}
#totalTip {
  font-size: 18px;
  margin-top: 5px;
  text-align: center;
}

#totalTip:before {
  content: "Bill including tip";
  font-size: 18px;
  display: block;
  text-transform: uppercase;
}

#totalTip sup {
  font-size: 18px;
  top: -18px;
}

#totalTip small {
  font-size: 18px;
  display: block;
}


/*popup*/
.blur{
  filter: blur(40px);
} 

#popup {
  margin: auto;
  display: none;
  width: 50%;
  height: 50%;
  background-color: white;
  z-index: 200;
  border-radius: 20px;
}
#popup h2 {
  color: #037272;;
  margin-left: 30%;
}
#popup h3 {
  color: #037272;;
  
  margin-left: 3%;
}
#popup p {
  color: #037272;;
 
}
#closePopup {
  float: right;
  margin-top: 5%;
  margin-right: 5%;
}
#closePopup span {
  background-color: #037272;;
}

.cancel {
  background-color: rgba(0,0,0,0);
}
.cancel span{
  display: block;
  width: 20px;
  height: 4px;
  border-radius: 4px;
  background-color: white;
}

.cancel span:nth-child(1){
  transform: translateY(0px) rotate(45deg) ;
}

.cancel span:nth-child(2){
  transform:  translateY(-4px)rotate(135deg);
}

