body {
  font-family: 'Open Sans', sans-serif;
    background: white;
  
  }
  
  #container {
    height: 455px;
    width: 360px;
    margin: 20px auto;
    background: #F7EFE9;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border: 1px solid #C6BBB7;
  }
  
  h1 {
    color:#C6BBB7;
    margin: 0;
    padding: 10px 100px;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
  }
  
  p {
    padding-left: 20px;
    color: #C6BBB7;
    font-weight: bold;
  }
  
  form input[type="text"] {
    width: 90px;
  }

     /* --------- INPUT FIELDS --------*/
  
  input {
    border-radius: 5px;
    min-width: 65%;
    padding: 5px;
    border: none;
    }
  
  #bill {
    font-size: 14px;
    background-color: #f7f7f7;
    width: 80%;
    padding: 5px 5px 8px 8px;
  }
  
  #bill:focus {
    background: #fff;
    border: 1px solid #F7EFE9;
    outline: none;
  }
  
  #people {
    width: 80%;
    padding: 5px 5px 8px 8px;
    margin-left: 20px;
    background-color: #f7f7f7;
    font-size: 14px;
  }

  #people:focus {
    background: #fff;
    border: 1px solid #F7EFE9;
    outline: none;
  }
  
  .dollarSign {
    display: inline;
  }
  
#service {
    padding: 13px 13px 20px 20px;
    margin-left: 20px;
    font-size: 25px;
    border: 1px solid #C6BBB7;
    border-radius: 5px;
    color: #C6BBB7;
  }
  

  /* --------- BUTTONS --------*/

  .button {
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    margin: 15px auto;
    background: #F7EFE9;
    border-radius: 6px;
    font-size: 15px;
    color: #C6BBB7;
    border: 1px solid #C6BBB7;
  }
  
  .button:hover {
    background: #C6BBB7;
    color: white;
    
  }
  
  .button:active {
    position: relative;
    top: 1px;
  }
  .button-big {
    width: 180px;
    height: 45px;

  }
  .button-small {
    width: 180px;
    height: 25px;
    font-size: 12px;
  }
/* --------- TIP --------*/

  #totalTip {
    font-size: 30px;
    margin-top: 5px;
    text-align: center;
    color:#C6BBB7;
  }
  
  #totalTip:before {
    content: "Bill including tip";
    font-size: 20px;
    display: block;
    text-transform: uppercase;
    color:#C6BBB7;
  }
  
  #totalTip sup {
    font-size: 20px;
    top: -18px;
    color:#C6BBB7;
  }
  
  #totalTip small {
    font-size: 20px;
    display: block;
    color:#C6BBB7;
  }